body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  color:#1f1f1f;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.cta-h3{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

p {
  color: #8f8f8f;
  padding: 1% 14%;
}

a{
  color: #8f8f8f;
  font-weight: bold;
}


.container-fluid {
  padding: 3% 15% 7%;
}

/* navbar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.navbar-nav ml-auto {
  padding-left: 70px;
}

.download-button {
  margin: 7% 3% 5% 0;
}

.button-cta {
  margin: 5% 1%;
}

.phone-img {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 22%;
}

/* features section */
#features {
  padding: 7% 10%;
  position: relative;
  background-color: #fff;
}

.icon {
  font-size: 4.5rem;
  color: #ef8172;
  margin-bottom: 1em;

}

.icon:hover {
  color: #ff4c68;

}

.col-lg-4 {
  margin-top: 4%;
}

/* testimonial */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#press{
  padding-bottom: 4%;
  background-color: #ef8172;
  text-align: center;
}

.press-logo{
  width:15%;

}

/* pricing */

#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}

/* call to action */

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 6% 12% 3% ;
}

#footer{
  background-color: #fff;
  text-align: center;
  padding: 6% 12% 3% ;
}

.fo-icon{
  margin: 1%;
  text-decoration: none;
}

.self{
  color: #0d6efd;
  font-weight: normal;
  text-decoration: none;
}

/* media query */

@media (max-width:1030px) {

  h1{
    font-size: 5rem;
  }

  h2{
    font-size: 4rem;
  }

  h3{
    font-size: 3rem;
  }

  p{
    font-size: 2.5rem;
  }

  #title{
    margin: 0;
    text-align: center;
  }

  .phone-img{
    position: static;
    transform: rotate(0);
    width: 60%;
  }

  .container-fluid{
    padding: 5% 3% 6% 3% ;
  }

  #features{
    padding:10% 0;
  }

  .icon {
    font-size: 10rem;
    margin-bottom: 80px;

  }
  .fe-deck{
    margin-top: 80px;
  }

  .carousel-item {
    height: 640px;
    padding: 6% 8%;
  }
  #testimonials{
    height:70%;
  }

  #pricing{
    padding: 15% 10px;
  }
  .pricing-column{
    margin-bottom: 50px;
  }

  .fo-icon{
    margin: 1%;
    font-size: 3rem;
  }
  .btn{
    font-size: 3.5rem;
    margin-top: 60px;
  }
  .navbar-toggler-icon{
    font-size: 4.5rem;
  }
  .navbar-brand{
    font-size: 4.5rem;
  }
  .nav-item{
    font-size: 3.5rem;
    text-align: right;
    margin-top: 40px;
  }
  .card-body{
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .press-logo{
    width:24%;

  }
  .self{
    color: #0d6efd;
    font-weight: normal;
    text-decoration: none;
  }
  #press{
    padding-bottom:16%;
  }
}
